

h1,h2{
  font-family: "Times New Roman";
}


.quotes{
  border-radius: 3px;
  transition: all 2s;
  opacity: 0.5;
  width: 50%;
  margin-top: 11%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10%;
  padding: 35px;
  color: black;
  background-color: white;

}

.quotes:hover { //accion sobre el cuadro
  transition: all 2s;
  opacity: 0.7;
}
.quote{
  font-size: 40px;
  font-family: 'Josefin Slab', serif;
}

.author{
  font-size: 25px;
  font-family: 'Josefin Slab', serif;
}

.buttons{
  width: 400px;
  margin: auto;
  display:inline-block;

}
#botonFrase{
    background-color: white; /* Green */
    border: none;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    margin-right: 25%;
    outline: 0;  //para sacar el borde azul al hacer click al boton
}
#botonFrase:hover {
    background-color: #E0E0E0;
    color: black;
    outline: 0;  //para sacar el borde azul al hacer click al boton
}
#tweet{
  float: left;
  margin-top: 24px;
  width: 40px;
  height: 30px;
  text-align: center;
  margin-left: 20px;

}
